
/* Moon theme adjustments */

.reveal {
  color: #B5BABA;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #F2EEDF;
}

.reveal p,
.reveal ul {
  background-color:rgba(0,43,54,0.6);
}

/*Gordon: types-of-networks*/

.types-of-networks img {
  padding: 10px;
}

/*Gordon: Centralized*/

.centralized h2 {
  text-align: right
}

.centralized p {
  text-align: right
}

/*Gordon: BitTorrent*/

.bittorrent.wrap {
  display: flex;
  flex-direction: row;
}

.bittorrent.wrap > img {
  width: 450px;
  height: 450px;
}

.bittorrent.wrap .bit-list {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* starChart stuff */

canvas {
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:optimize-contrast;
  image-rendering:crisp-edges;
  image-rendering:-o-pixelated;
  image-rendering:pixelated;
  -ms-interpolation-mode:nearest-neighbor
}